.footer {
  font-size: 1.2rem;
}

.signin {
  color: #fff;
  font-size: 1.5rem;
}

.authform {
  width: 350px;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .authform {
    width: 300px;
    margin: 0 5px;
  }
}
